@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            /*box-sizing: border-box;*/
            box-sizing: content-box;
        }

        body {
            font-family: Arial;
            font-size: 17px;
        }

        .container {
            position: relative;
            max-width: 100%;
        }

            .container img {
                vertical-align: 100%;
            }

            .container .content {
                position: absolute;
                top: 0;
                background: rgb(0, 0, 0); /* Fallback color */
                background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
                color: #f1f1f1;
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="container">
        <img src="/ImageStorage/homepage.jpg" alt="Forest" style="width:100%;">
        <div class="content">
            <br/>
            <h1>Vidly</h1>
            <p>The Best Movie Rental Platform of Milky Way Galaxy</p>
        </div>
    </div>

</body>
</html>
