
@*@{
    ViewBag.Title = "_ModeratorNavBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            @Html.ActionLink("Home", "Index", "Moderators", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            @Html.Partial("_ModeratorLoginPartial")
        </div>
    </div>
</div>


