
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}
<h2>Manage Customers</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Moderator</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Browse Customers" class="btn btn-default" onclick="location.href = '@Url.Action("BrowseCustomers", "Moderators")'" />
            </div>
        </div>
    </div>
}