
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<h2>Home</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Moderator</h4>
        <hr/>
        <h1>Welcome @Session["UserName"]</h1>
        <hr/>
        @Html.ValidationSummary(true)
        </div>
}