@model IEnumerable<vidly.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Browse Movies" class="btn btn-default" onclick="location.href = '@Url.Action("BrowseMovies", "Customers")'" />
    </div>
</div>

@*<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Current Borrows" class="btn btn-default" onclick="location.href = '@Url.Action("CurrentBorrows", "Customers")'" />
    </div>
</div>*@

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Browse Movies" class="btn btn-default" onclick="location.href = '@Url.Action("AllBorrows", "Customers")'" />
    </div>
</div>